{{#if sidebar.comments}}

<div class="card border-secondary text-white bg-primary mb-2">
  <div class="card-header">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text-fill"
      viewBox="0 0 16 16">
      <path
        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z" />
    </svg>
    <a>Latest Comments</a>
  </div>
  <div class="card-body">
    {{#each sidebar.comments}}
    <div class="row">
      <div class="col">
        <a href="/images/{{image.uniqueId}}">
          <img src="/public/upload/{{image.filename}}" class="img-thumbnail border-success w-70">
        </a>
      </div>
      <div class="col">
        <blockquote class="w-100">
          <p>{{comment}}</p>
          <footer class="blockquote-footer">
            <span>{{name}}</span>
            <span>{{timeAgo timestamp}}</span>
          </footer>
        </blockquote>
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{/if}}